*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: serif;
}

@mixin fondo {
    background-color: lightblue;
    height:100vh;
}

.exp1{
    @include fondo();
    height: 100%;
    font-size: 4rem;
    .padre{
        display: grid;
        place-items: center;
    }
}
.exp2{
    @include fondo();
    font-size: 4rem;
    .padre{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
    }
    .box{
        background-color: steelblue;
        flex: 0 1 150px;
        text-align: center;
        margin: 5px;
        line-height: 90vh;
    }
}
.exp3{
    @include fondo();
    .padre{
        height: 80%;
        padding-top:10%;
        display: grid;
            grid-template-columns: minmax(150px, 25%) 1fr;
        div{
            &:first-child{
                background-color:darken(tomato,3%);
            }
            background-color:tomato;
            padding: 1rem;
        }
    }
}