* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: serif;
}

.exp1 {
  background-color: lightblue;
  height: 100vh;
  height: 100%;
  font-size: 4rem;
}
.exp1 .padre {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.exp2 {
  background-color: lightblue;
  height: 100vh;
  font-size: 4rem;
}
.exp2 .padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.exp2 .box {
  background-color: steelblue;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
  text-align: center;
  margin: 5px;
  line-height: 90vh;
}

.exp3 {
  background-color: lightblue;
  height: 100vh;
}
.exp3 .padre {
  height: 80%;
  padding-top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(150px, 25%) 1fr;
  grid-template-columns: minmax(150px, 25%) 1fr;
}
.exp3 .padre div {
  background-color: tomato;
  padding: 1rem;
}
.exp3 .padre div:first-child {
  background-color: #ff5638;
}